// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Fontawesome
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';


body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  margin-bottom: 60px;
}

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-bottom: 1px solid #e8e8e8;
  border-top: 4px solid rgb(135, 29, 65);
  margin-bottom: 40px;
  margin-top: 0px;
}

/* User register page */

  img.captcha {
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 3px;
  }

